In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load csv file with duplicates
df = pd.read_csv('ranges_duplicates.csv')

In [3]:
# Check data frame shape
df.shape

(12, 3)

In [4]:
# Print data frame
df

    Measurement   Region   Range
0        881792   Europe    High
1        867134  America    High
2        241654     Asia     Low
3        456234   Europe  Middle
4        301892  America     Low
5        654132  America    High
6        540275     Asia  Middle
7        467122     Asia  Middle
8         68512   Europe     Low
9        867134  America    High
10       241654     Asia     Low
11       456234   Europe  Middle

In [5]:
# Check duplicates sum
df.duplicated().sum()

3

In [6]:
# Drop duplicates
df = df.drop_duplicates()

In [7]:
# Check dataframe shape
df.shape

(9, 3)

In [8]:
# Recheck duplicates
df.duplicated().sum()

0