<h3>Timestamps / datetimes into separate columns</h3>

In [1]:
import numpy as np
import pandas as pd

from numpy.random import randint

np.random.seed(321)

commpanies = ["Jolly Good Toys Ltd",
              "Pristine Machines Inc",
              "Piggy Bank Corporation",
              "Cars & Gears Foundation"]

areas = ["Europe", "North_America", "South_America", "Asia", "Africa", "Other"]

sales = randint(99999, size=(4, 6))

# Create timestamps (year-month-day)
dates = ["2023-10-05", "2022-07-22", "2022-02-15", "2020-09-29"]

df = pd.DataFrame(sales, commpanies, areas)
df['LastUpdateDate'] = dates

In [2]:
df

,Europe,North_America,South_America,Asia,Africa,Other,LastUpdateDate
Jolly Good Toys Ltd,97268,6682,4220,43807,5929,91537,2023-10-05
Pristine Machines Inc,24744,69018,99288,14068,90469,94536,2022-07-22
Piggy Bank Corporation,28243,44245,21633,78619,45594,37389,2022-02-15
Cars & Gears Foundation,57643,46518,71742,99722,48613,97335,2020-09-29

In [3]:
# in this case, LastUpdateDate --> object (string)
df.dtypes

Europe             int32
North_America      int32
South_America      int32
Asia               int32
Africa             int32
Other              int32
LastUpdateDate    object
dtype: object

In [4]:
df['LastUpdateDate'] = pd.to_datetime(df['LastUpdateDate'])

In [5]:
df.dtypes

Europe                     int32
North_America              int32
South_America              int32
Asia                       int32
Africa                     int32
Other                      int32
LastUpdateDate    datetime64[ns]
dtype: object

In [6]:
# Let's split datetime-data to year, month, day
df['Year'] = df['LastUpdateDate'].dt.year
df['Month'] = df['LastUpdateDate'].dt.month
df['Day'] = df['LastUpdateDate'].dt.day

In [7]:
df

,Europe,North_America,South_America,Asia,Africa,Other,LastUpdateDate,Year,Month,Day
Jolly Good Toys Ltd,97268,6682,4220,43807,5929,91537,2023-10-05,2023,10,5
Pristine Machines Inc,24744,69018,99288,14068,90469,94536,2022-07-22,2022,7,22
Piggy Bank Corporation,28243,44245,21633,78619,45594,37389,2022-02-15,2022,2,15
Cars & Gears Foundation,57643,46518,71742,99722,48613,97335,2020-09-29,2020,9,29

In [8]:
# drop orginal datetime
df = df.drop("LastUpdateDate", axis=1)

In [9]:
df

,Europe,North_America,South_America,Asia,Africa,Other,Year,Month,Day
Jolly Good Toys Ltd,97268,6682,4220,43807,5929,91537,2023,10,5
Pristine Machines Inc,24744,69018,99288,14068,90469,94536,2022,7,22
Piggy Bank Corporation,28243,44245,21633,78619,45594,37389,2022,2,15
Cars & Gears Foundation,57643,46518,71742,99722,48613,97335,2020,9,29